/* src/site/styles/user/foldable-headers.css */
/* Style for the arrow */
.arrow {
  margin-left: 20px; /* Space between header text and arrow */
  font-size: 0.8em;
  cursor: pointer;
  color: moccasin;
  display: none; /* Hide arrow by default */
}

/* Show arrow only when the section is collapsed */
.collapsed .arrow {
  display: inline-block; /* Show arrow when collapsed */
}
